body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(91, 89, 89);
    color: white;
    font-family: 'Poppins', sans-serif;
}

.main {
    margin: auto;
    padding: 1rem 2rem;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.656);
    overflow: auto;
}

/* width */
.main::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .main::-webkit-scrollbar-track {
    background: #101010e3;
  }
  
  /* Handle */
  .main::-webkit-scrollbar-thumb {
    background: #7e7ef6;
  }
  
  /* Handle on hover */
  .main::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.main h1 {
    font-weight: 900;
    padding: 1rem;
}

.monitor {
    border: 1px solid rgba(128, 128, 128, 0.229);
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #55565b3e;
    position: relative;
}

.monitor select {
    position: absolute;
    right: 0;
    top: 30%;
    background-color: transparent;
    border: none;
    color: white;
}

.key-panel p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.keyboard input {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.229);
    flex-grow: 1;
    color: #ddd;
    font-family: 'Poppins', sans-serif;
    padding: .5rem 1rem;   
    font-size: 13px;
}

input:focus, select:focus {
    outline: none;
}

label {
    margin: 0;
    padding: 0;
    color: rgb(211, 175, 175);
    margin-right: 8px;
    font-size: 14px;
}

.keyboard div {
    flex-direction: column;
    padding: 10px 0;
}

.footer .title {
    font-size: 14px;
}

#formula {
    font-size: 11px;
    max-width: 400px;
    margin-top: 10px;
    background-color: #1e1e1e;
    padding: .3rem .7rem;
}